/* header */
.header {
    display: flex;
    justify-content: space-between;
    margin: 20px 0px auto;
}

.btn:hover {
    transform: translateY(-5px);
    transition: .3s ease;
}

.header__btn {
    margin-top: 1rem
}

.header__btn:hover,
.header__btn:focus {
    box-shadow: 0 0.5em 0.5em -0.4em #999;
    background-color: #5b79da;
}

.header__navbar-list {
    list-style: none;
}

.header__navbar-item {
    display: inline-block;
    margin: 0 16px;
    padding: 10px;
}



.header__navbar-item-link {
    font-size: 1.5rem !important;
}

.header__navbar-item:hover .header__navbar-item-link {
    color: #335eea;
}

.header__navbar-item--view-landings:hover .dropdown {
    display: flex;
}


.header__navbar-item-link {
    color: #506690;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 400;
}

.header__content-center {
    position: relative;
}

.dropdown {
    position: absolute;
    top: 70%;
    width: 700px;
    height: 300px;
    display: flex;
    border-radius: 10px;
    z-index: 1000;
    left: -50%;
    box-shadow: 0 .5rem 1.5rem rgba(22, 28, 45, .15);
    display: none;
    animation: fadeIn ease-in-out 0.3s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        top: 50px;
    }

    to {
        opacity: 1;
    }
}

.dropdown::before {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 20px;
    top: -5%;
}

.dropdown__overview {
    flex: 1;
    position: relative;
    background-image: url("https://landkit.goodthemes.co/assets/img/photos/photo-3.jpg");
    background-size: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.dropdown__overview::before {
    content: "";
    display: block;
    background-color: rgba(51, 94, 234, .8);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.dropdown__overview-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.overview__title,
.overview__des {
    color: var(--white-color);
    text-align: center;
    margin: 5px auto;
    font-size: 1.8rem;
}

.dropdown__menu {
    flex: 1;
    display: flex;
    padding: 15px;
    margin-top: 5px;
    position: relative;
    z-index: 999;
    background-color: var(--white-color);
}

.dropdown__menu-left {
    flex: 1;
    position: relative;
    z-index: 999;
}

.dropdown__menu-right {
    flex: 1;
    position: relative;
    z-index: 9999;
}

.menu-dropdown__navbar-list {
    margin-bottom: 20px;
    padding-left: 20px;
}

.menu-dropdown__title {
    margin: 0;
    font-size: 1.6rem;
    font-weight: 300;
    color: #335eea;
    padding-left: 20px;
    cursor: text;
}

.menu-dropdown__navbar-item {
    list-style: none;
    margin: 10px 0;
}

.menu-dropdown__navbar-item--on-mouse:hover a {
    color: #335eea;
    cursor: pointer;
}

.navbar-item__link {
    text-decoration: none;
    color: #506690;
    font-weight: 300;
    font-size: 1.6rem;
}

.header__logo-img,
.header__button {
    margin-top: 20px;
    margin: 20px 10px;
}

.btn-view-all-pages {
    text-decoration: none;
    background-color: #fff;
    color: #335eea;
    box-shadow: 0 .5rem 1.5rem rgba(22, 28, 45, .15) !important;
    border-radius: 0.375rem;
    font-size: 1.8rem;
    margin-top: 20px;
    padding: 0.5625rem 1rem;
    border: 1px solid transparent;
    cursor: pointer;
    display: inline-block;
    font-weight: 500;
    line-height: 1.8;
    text-align: center;
    user-select: none;
}

/* dropdown-landing */

.header__navbar-item--show-dropdown-page:hover .dropdown-page {
    display: flex;
}

.dropdown-page {
    display: flex;
    position: absolute;
    top: 70%;
    left: -20%;
    width: 550px;
    height: 300px;
    border-radius: 10px;
    background-color: var(--white-color);
    box-shadow: 0 .5rem 1.5rem rgba(22, 28, 45, .15);
    padding: 30px 15px;
    display: none;
    z-index: 99;
}

.dropdown-page::before {
    position: absolute;
    display: flex;
    top: -6%;
    display: block;
    content: "";
    width: 100%;
    height: 20px;
}

.dropdown-page__element {
    flex: 1;
}

.menu-dropdown__navbar-item:hover .navbar-item__link {
    color: #335eea;
}

/* dropdown account */
.header__navbar-item--view-account:hover .navbar-account {
    display: block;
}


.navbar-account {
    position: absolute;
    top: 70%;
    left: 40%;
    width: 205px;
    background-color: var(--white-color);
    padding: 20px 25px;
    border-radius: 10px;
    box-shadow: 0 .5rem 1.5rem rgba(22, 28, 45, .15);
    display: none;
    z-index: 99;
}

.navbar-account::before {
    content: "";
    display: block;
    position: absolute;
    top: -6%;
    left: 0;
    width: 100%;
    height: 20px;
}

.navbar-account__list {
    padding-left: 0;
}

.navbar-account__item {
    position: relative;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #506690;
    font-size: 1.6rem;
    font-weight: 300;
    margin: 8px 0;
}

.navbar-account__item:hover span {
    color: #335eea;
}

.navbar-account__item:hover .navbar-account__child {
    display: block;
}

.navbar-account__child {
    position: absolute;
    top: -150%;
    right: -149%;
    padding: 20px 15px;
    width: 205px;
    background-color: var(--white-color);
    border-radius: 10px;
    box-shadow: 0 .5rem 1.5rem rgba(22, 28, 45, .15);
    display: none;
    z-index: 99;
}

.navbar-account__child::before {
    position: absolute;
    top: 0;
    left: -14%;
    display: block;
    content: "";
    width: 30px;
    height: 100%;
}

.navbar-account__list-child {
    padding-left: 0;
}

.navbar-account__item-child {
    list-style: none;
    margin: 8px 0;
}

.navbar-account__item-child:hover .navbar-item__link {
    color: #335eea;
}

/* navbar-documentation */

.header__navbar-item--show-doc:hover .navbar-doc {
    display: block;
}

.navbar-doc {
    position: absolute;
    top: 70%;
    left: 55%;
    width: 350px;
    height: 250px;
    border-radius: 10px;
    padding: 20px;
    background-color: var(--white-color);
    box-shadow: 0 .5rem 1.5rem rgba(22, 28, 45, .15);
    display: none;
    z-index: 99;
}

.navbar-doc::before {
    content: "";
    display: block;
    position: absolute;
    top: -7%;
    left: 0;
    width: 100%;
    height: 20px;
}

.navbar-doc__list {
    padding-left: 0;
}

.navbar-doc__item {
    list-style: none;
    height: 50px;
    margin-bottom: 20px;
}

.navbar-doc__item-img {
    padding: 10px;
    width: 50px;
    height: 50px;
}

.navbar-doc__item-link {
    display: flex;
    text-decoration: none;
}

.navbar-doc__content {
    height: 100%;
    width: 100%;
    padding-left: 20px;
}

.navbar-doc__content-title,
.navbar-doc__content-des {
    margin: 0;
    width: 100%;
    font-weight: 300;
    font-size: 1.6rem;
}

.navbar-doc__content-title {
    color: #335eea;
}

/* banner */
.banner {
    display: flex;
    flex-wrap: wrap-reverse;
    width: 100%;
    height: 414;
    margin-top: 50px;
    animation: fade-bottom ease 0.5s;
}

.banner__content-left {
    flex: 1;
    padding-top: 20px;
}

.banner__title {
    color: var(--black-color);
    font-weight: 400;
    line-height: 50px;
    font-size: 4rem;

}

.banner__des {
    color: #869AB8;
    font-size: 1.9rem;
    line-height: 30px;
    margin-bottom: 40px;
}

.banner__btn {
    padding-top: 20px;
    display: flex;

}

.banner__btn-left {
    width: 180px;
    height: 55px;
    text-decoration: none;
    font-size: 1.6rem;
    padding: 20px 20px;
    margin-right: 10px;
}

.banner__btn-right {
    width: 180px;
    height: 55px;
    text-decoration: none;
    font-size: 1.6rem;
    padding: 20px 20px;
    background-color: rgba(51, 94, 234, .1);
    color: #335eea;
    text-align: center;
}

.banner__content-right {
    flex: 1;
}

.banner__img {
    width: 100%;
}

/* card-info */
.card-info {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    margin: 50px 0;
    animation: fade-bottom ease 0.5s;
}

.card {
    flex: 1;
    margin-right: 10px;
}

.card__img-svg {
    height: 50px;
}

.card__title {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.9rem;
}

.card__des {
    color: #869AB8;
    font-size: 1.6rem;
    line-height: 2.5rem;
}

/* brand */
.brand {
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.brand__item {
    flex: 1;
    padding: 10px;
}

.brand__item-img {
    opacity: 0.5;
    height: 4rem;
}

/* card-input */
.card-list {
    display: flex;
    width: 100%;
}

.card-input {
    flex: 1;
    padding: auto;
    height: 100%;
}

.card-input__card-left {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin: 50px;
    position: relative;
    box-shadow: 0 1.5rem 4rem rgba(22, 28, 45, .05) !important;
}

.card-input__card-left::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.card-input__card-left:hover {
    transform: translateY(-5px);
    transition: .3s ease;
}

.card-input__img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
}


.form {
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: var(--white-color);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.form__custom-input {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 100%;
    text-align: center;
}

.form__field {
    width: 100%;
    border: 0;
    border-bottom: 1px solid #f3f3f3;
    outline: 0;
    font-size: 1.6rem;
    /* color: #fff; */
    padding: 7px 0;
    background: transparent;
}

.form__field::placeholder {
    color: transparent;
}

.form__label-input {
    position: absolute;
    top: 22px;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #9b9b9b;
}

.form__label-input {
    position: absolute;
    top: 50%;
    display: block;
    transition: 0.2s;
    font-size: 1.6rem;
    color: #9b9b9b;
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1.4rem;
    font-weight: 300;
    opacity: 0.8;
}

.form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image-slice: 1;
    border-bottom: 1px solid #335eea;
}

.form__field:focus~.form__label-input {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1.4rem;
    font-weight: 300;
    opacity: 0.8;
}

.form__field:placeholder-shown~.form__label-input {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1.4rem;
    font-weight: 300;
    opacity: 0.8;
}

.form__custom-input>input~p {
    text-align: left;
    opacity: 0;
    font-size: 1.5rem;
    color: red;
}

.form__custom-input>input.invalid~p {
    opacity: 1;
}

/* reset input */
.form__field:required,
.form__field:invalid {
    box-shadow: none;
}

.form__btn-download {
    background-color: #42ba96;
    margin: auto;
    position: relative;
    z-index: 999;
    width: 100%;
}

.form__btn-download:hover {
    background-color: #389e80;
}

.card-des {
    flex: 1;
}

.card-des__contain {
    margin: 100px 50px;
    display: flex;
    flex-direction: column;
}

.card-des__title {
    font-size: 3rem;
    line-height: 3.5rem;
    font-weight: 300;
    color: var(--black-color);
    margin-bottom: 10px;
}

.typewrite {
    text-decoration: none;
    color: #42ba96;
}

.card-des__body {
    color: #9b9b9b;
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 300;
}

.card-des__list-contain {
    display: flex;

}

.card-des__list-left,
.card-des__list-right {
    flex: 1;
}

.card-des__item {
    display: flex;
}


.card-des__item-icon {
    width: 20px;
}

.card-des__item-des {
    padding-left: 10px;
    font-size: 1.6rem;

}

.font-color-green {
    color: #42ba96;
}

/* *********** */
.card-list__item {
    display: flex;
}

.card-list__content-left {
    flex: 1;
    padding-top: 50px;
}

.card-list__img-right {
    width: 100%;
}

.font-title {
    font-size: 3rem;
    line-height: 3.5rem;
}

.font-des {
    color: var(--black-color);
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 300;
}

.card-list__item-left {
    text-align: center;
}

.card-list__item-img {
    margin-top: 19px;
    margin-right: 10px;
    width: 48px;
    height: 48px;
}

.font-title-small {
    color: var(--black-color);
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 250;
    margin-bottom: 5px;
}

.font-body__des {
    margin-top: 0px;
}

.card-list__content-right {
    flex: 1;
    padding-top: 100px;
    position: relative;

}

.content-bg-dashboarh-img {
    position: absolute;
    pointer-events: none;
    bottom: 0;
    left: 70%;
    top: 0;
    transform: translateX(-50%) scale(1.3);
    width: 100%;
}

.bg-shape1 {
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    opacity: 0.1;
}

.content-dashboard-img {
    perspective-origin: 0;
    perspective: 1500px;
    transform-style: preserve-3d;
}

.img-dashboard {
    overflow: hidden;
    max-width: 100%;
    height: auto;
    border-radius: 20px;
    backface-visibility: hidden;
    transform: rotateY(-35deg) rotateX(15deg);
    box-shadow: 25px 60px 125px -25px rgb(80 102 144 / 10%), 16px 40px 75px -40px rgb(0 0 0 / 20%);
}

.card-sidebar {
    margin-top: 100px;
    position: relative;
    z-index: 1000;
}


.content-top__title,
.content-top__body {
    padding: 0px 185px;
    text-align: center;
}

.sidebar {
    margin: 30px 0 10px 10px;
    display: flex;
    box-shadow: 0 1.5rem 4rem rgba(22, 28, 45, .05) !important;
    border-radius: 10px;
    position: relative;
}

.sidebar__content {
    flex: 1;
    background-color: var(--white-color);
}

.sidebar__content1 {
    flex: 1;
    background-color: var(--white-color);
    display: none;
}

.sidebar__content--right {
    padding: 50px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}


.sibar_img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: relative;
    z-index: 1;
}

.sibar_img1 {
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: none;
    position: relative;
    z-index: 1;
}

.sidebar__brand-logo {
    display: flex;
}

.sidebar__logo {
    width: 152px;
    height: 55px;
    margin: auto;
}



.sidebar__des {
    text-align: center;
    color: var(--black-color);
}

.sidebar__content-author {
    display: flex;
}

.sidebar__author {
    font-size: 1.4rem;
    margin: auto;
}

.btn-pre {
    position: absolute;
    bottom: 48%;
    left: -2%;
    z-index: 100;
}

.btn-next {
    position: absolute;
    bottom: 48%;
    right: -2%;
}

/* header-table */

.header__content-right-tablet {
    display: none;
}

.icon-menu {
    font-size: 25px;
}

/* business */

.bsn {
    padding-top: 100px;
    margin-top: -1rem;
}

.business {
    display: flex;
    position: relative;
    z-index: 999;
}

.business__item {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.business__stats {
    display: flex;
}

.business__stats div:nth-child(1) {
    padding-right: 15px;
}

.business__stats div:nth-child(2) {
    padding: 0 15px;
}

.business__stats div:nth-child(3) {
    padding-left: 15px;
}

.stats__item-title,
.stats__item-body {
    font-size: 1.6rem;
}


.business__des {
    margin-top: 0;
}

.stats__item-body {
    color: #9b9b9b;
}

.business__img {
    width: 100%;
}

.bg-shape {
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.bg-shape__img {
    width: 100%;
    transform-origin: top center;
    transform: scale(2);
}

.bg-bright::after {
    content: "";
    display: block;
    background-color: var(--bg-color);
    width: 100%;
    height: 1000px;
    position: absolute;
    top: 40%;
}

.buy-product {
    position: relative;
    z-index: 999;
}

.product-type {
    text-align: center;
    padding: 0 20rem;
}

.contain-checkbox {
    display: flex;
    justify-content: center;
    margin: auto;
}


.type-price {
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #999;
}

/* custome-checkbox */

.toggle {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
    margin: 0 1rem;
}

.toggle input[type="checkbox"] {
    display: none;
}

.toggle .slider {
    background-color: #ccc;
    cursor: pointer;
    width: 100%;
    height: 100%;
    transition: .4s;
    position: relative;
    border-radius: 50px;
}

.toggle .slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
    border-radius: 50px;
}

.toggle input[type="checkbox"]:checked+.slider {
    background-color: #335eea;
}

.toggle input[type="checkbox"]:checked+.slider:before {
    transform: translateX(26px);
}

/* ***************** */

.price-card {
    padding-top: 10rem;
    display: flex;
    margin-bottom: -3rem;
}


.price-card__left,
.price-card__right {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--white-color);
    box-shadow: 0 1.5rem 4rem rgba(22, 28, 45, .1);
    border: none;
    border-radius: 10px;
    height: fit-content;
    align-self: center;
}

.price-card__left {
    z-index: 999;
}

.price-card__right {
    box-shadow: 0 1.5rem 4rem rgba(22, 28, 45, .1) !important;
    margin-left: -1rem;
}

.price-card__content-left {
    padding: 4rem 4rem 3rem 4rem;
}


.price-card__content-right {
    padding: 4rem 4rem 3rem 4rem;
}

.content-left__content-type,
.content-right__content-type {
    margin-bottom: 5rem;
}

.content-left__type,
.content-right__type {
    background-color: rgba(51, 94, 234, .1);
    color: #335eea;
    padding: 1rem;
    border-radius: 70rem !important;
    font-size: 1.2rem;
}



.content-left__price {
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-left__money-type {
    font-size: 3rem;
    margin-top: 0;
    align-self: flex-start;
    margin-top: 0.5rem;
}

.content-left__money {
    font-size: 8rem;
    font-weight: 300;
}

.content-left__time {
    font-size: 5rem;
}

.content-left__benefit {
    display: flex;
    justify-content: center;
}

.content-left__benefit-des {
    font-size: 1.6rem;
    margin-left: 1rem;
    margin-top: 1rem;
}

.content-btn {
    width: 100%;
    display: flex;
}

.btn-buy {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #335eea;
    border: none;
    box-shadow: 0 0;
    color: #fff;
    width: 100%;
    align-items: flex-end;
    margin: 0;
}

.btn-contact {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #d9e2ef !important;
    border: none;
    box-shadow: 0 0;
    color: #fff;
    width: 100%;
    color: #506690 !important;
    align-items: flex-end;
    margin: 0;
}

.content-right__offer {
    margin: 9rem 0;
    padding: 1rem 4.2rem;
    font-size: 1.7rem;
}

.shape {
    position: relative;
}

.shape-bg {
    position: absolute;
    overflow: hidden;
    left: 0;
    right: 0;
    bottom: 0;
    color: #1b2a4e !important;
}

.shape-bg-img {
    width: 100%;
    transform: scale(2);
    transform-origin: top center;
}

.bg-footer-color {
    margin-top: 0;
    padding-bottom: 3rem;
    background-color: #1b2a4e !important;
    position: relative;
    z-index: 1;
}

.container__question {
    margin-top: 0;
}

.circle-btn:hover {
    cursor: pointer;
}

.question {
    display: flex;
    padding-top: 5rem;
}

.question__list {
    flex: 1;
}

.question__item {
    display: flex;
    color: #42ba96;
}


.question__icon {
    font-size: 3rem;
}


.question__title {
    font-size: 1.7rem;
    color: var(--white-color);
}

.question__des {
    font-size: 1.7rem;
    color: #9b9b9b;
}

.get-start {
    display: flex;
    padding-top: 4rem;
    flex-direction: column;
    text-align: center;
}

.get-start__type {
    background-color: rgba(80, 102, 144, .1);
    color: #506690;
    padding: 1rem;
    border-radius: 50rem !important;
}

.get-start__title {
    color: var(--white-color);
    margin-bottom: 0;
}

.btn-buy-now {
    width: fit-content;
    align-self: center;
    display: flex;
    align-items: center;
}

.btn-buy-link {
    padding: 1.5rem;
}

/* footer */
.footer {
    padding: 10rem 0;
    display: flex;
    flex-wrap: wrap;
    background-color: #f1f4f8;
}

.social-landkit {
    flex: 1;
}

.footer-left {
    flex: 4;
    display: flex;
}

.total-service {
    flex: 1;
    display: flex;
    justify-content: space-around;
}

.total-service__list {
    display: flex;
    flex-direction: column;
}

.service__title {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 1rem;
    color: var(--black-color);
    font-size: 1.2rem;
}

.service__list {
    padding-left: 0;
}

.st-current {
    font-size: 1.7rem;
}

.service__item {
    list-style: none;
    font-size: 1.7rem;
    line-height: 1.8rem;
    margin: 1.8rem 0;
    color: #9b9b9b;
}

.social-icon {
    font-size: 4rem;
    color: #999;
}

.menu-small-screen {
    background-color: var(--white-color);
    margin: 0 auto;
    width: 95%;
    height: 98vh;
    z-index: 9999;
    position: fixed;
    top: 1%;
    left: 0;
    right: 0;
    overflow: scroll;
    display: none;
    animation: showMenu ease-out 0.5s;
}

@keyframes showMenu {
    from {
        opacity: 0;
        transform: translate(50px 50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.menu__list {
    margin-top: 4rem;
}

.menu__body-title {
    padding-left: 0;
    padding-top: 2rem;
}

.menu__body-child-item {
    color: #506690;
    cursor: pointer;
}

.menu__body-child-item:hover {
    color: #335eea;
}

.menu__account-child {
    display: none;
}

.menu__account-item.active>.menu__account-child {
    display: flex;
    flex-direction: column;
}

.menu__account-child-item {
    text-decoration: none;
    color: #506690;
    margin: 1rem;
}

.btn-navbar {
    width: 100%;
}

.btn-navbar:hover {
    transform: translateY(-0.7rem);
    transition: .3s ease;
}

.menu__body {
    display: flex;

}

.menu__body-child {
    flex: 1;
}

.menu__body-child-list {
    padding-left: 0;
    font-size: 1.5rem;
    flex: 1;
}

.menu__account-list {
    padding-left: 0;
}

.menu__acount-dropdown {
    display: flex;
    justify-content: space-between;
}

.menu__account-item {
    margin-right: 3rem;
    font-size: 1.5rem;
    cursor: pointer;
}



.menu__doc {
    margin-top: 1rem;
}

.btn-close {
    position: absolute;
    top: 1%;
    right: 1%;
    border: none;
    font-size: 2rem;
    font-weight: 200;
    background-color: var(--white-color);
}

.themes-des {
    color: #9b9b9b;
    line-height: 3rem;
}